# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\modei\h2006b-shop-parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
